@if (regista) {
  <div class="detail-card">
    <span class="badge-tipo bg-serie">Dettagli Regia</span>
    <h2>{{ regista.nome }}</h2>
    <hr>
    <p><strong>Nazionalità:</strong> {{ regista.nazionalita || 'N/D' }}</p>
    <p><strong>Data di Nascita:</strong> {{ regista.data_nascita | date:'dd/MM/yyyy' }}</p>
    <div class="bio-box">
      <p><strong>Note / Biografia:</strong></p>
      <p>{{ regista.biografia || 'Nessun dettaglio inserito.' }}</p>
    </div>
    <button routerLink="/registi" class="btn-back">⬅️ Torna Indietro</button>
  </div>
} @else {
  <p>Caricamento dettagli regista...</p>
}